#vclaro{
    background-color: #e0e0e0;
}
#voscuro{
    background-color: #bdbdbd;
}
div{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
}
#boton{
    background-color: #bdbdbd;
}